body {
    background-color: gray;
}

.wrapper {
    text-align: center;
}

.calculator {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    /* border: solid 2px black; */
    /* background-color: white; */
}

input {
    flex: 0 1 auto;
    width: 50px;
    height: 50px;
}

.display {
    width: 150px;
    background-color: white;
    height: 30px;
    text-align: right;
    padding-top: 5px;
}