* {
    /* border: 1px solid red; */
}


body {
    display: flex;
    height: 95vh;
    background-color: rgb(76, 110, 110);
}

.calc-container {
    display: flex;
    width: 435px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 5px black solid;
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
}

.calc-btns {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: flex-end;
    width: 85%;
    background-color: lightgray;
    border: 2px black solid;
    margin-top: 5px;
    padding: 15px 10px;
}

.row-one, 
.row-two, 
.row-three, 
.row-four {
    display: flex;
    flex: 1;
}

button {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    margin: 5px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
}

button:hover {
    background-color: rgba(226, 226, 226, 0.671);
}

.operation {
    flex: 2;
    padding-bottom: 1rem;
}

.total {
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
}

.equal {
    background-color: green;
}

.equal:hover {
    background-color: darkgreen;
}

.clear {
    background-color: yellow;
}

.clear:hover {
    background-color: rgb(194, 194, 0);
}

.operator {
    background-color: teal;
}

.operator:hover {
    background-color: rgb(0, 95, 95);
}